[Unit]
Description=Obtener guia via WebGrab++
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/luis/wg++/wg++.sh

[Install]
WantedBy=multi-user.target
